compiled_files*
Dockerfile copy
src/targets/RPI_UBUNTU20/Dockerfile
src/targets/ORIN_UBUNTU20/Dockerfile
src/targets/SITL_UBUNTU20/Dockerfile
#hear_fc_devel*.zip
hear_*.zip
commands.sh
directory-structure.md
install_geographiclib_datasets.sh

src/targets/SITL_UBUNTU20/opencv*
src/targets/ORIN_UBUNTU20/opencv*
test
ros_build
lib
CMDS
opencv_build
qt_build
vcpkg_build
.idea
src/core/utils/test.txt
src/core/utils/hear_cli_old.py
/devel/
/build/
/hear_cli_config.json
/.catkin_workspace
/tmp/
.vscode/
/test1/
HEAR_CLI
/venv/
config.json
src/common/scripts/install_geographiclib_datasets.sh.1
HEAR_Docker.zip
