compiled_files
Dockerfile copy
src/targets/RPI_UBUNTU20/Dockerfile
src/targets/ORIN_UBUNTU20/Dockerfile
src/targets/SITL_UBUNTU20/Dockerfile
hear_fc_devel.zip
commands.sh
directory-structure.md
install_geographiclib_datasets.sh

src/targets/SITL_UBUNTU20/opencv*
src/targets/ORIN_UBUNTU20/opencv*
test
ros_build
lib
CMDS
opencv_build
qt_build
vcpkg_build
